#photoswipe_admin .wrap {
	clear: both;
}

#photoswipe_admin .wrap::after {
	content:"";
	display:block;
	clear:both;
}

#photoswipe_admin .head {
	position: relative;
	overflow: auto;
	margin: 16px 0;
	padding: 23px 10px 0;
	padding-right: 150px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	font-size: 14px;
	line-height: 2.1em;
	min-height: 116px;
}

#photoswipe_admin h2 {
	margin: 0;
	font-size: 21px;
	font-weight: 400;
	line-height: 1.2;
}

#photoswipe_admin p {
	font-size: 14px;
	margin: 0;
	color: #72777c;
}

#photoswipe_admin .head .logo {
	position: absolute;
	top: 20px;
	right: 10px;
}

#photoswipe_admin .block {
	position: relative;
	overflow: auto;
	margin: 16px 0;
	background-color: white;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-sizing: border-box;
}

#photoswipe_admin .block .block-head, #photoswipe_admin .block .block-content {
	padding: 10px;
}

#photoswipe_admin .block .block-head {
	border-bottom: 1px solid rgba(0,0,0,.04);
	font-size: 14px;
	font-weight: 500;
}

#photoswipe_admin .block.left, #photoswipe_admin .block.right {
	float: left;
}

#photoswipe_admin .block.left {
	width: calc(100% - 360px);
}

#photoswipe_admin .block.right {
	width: 350px;
	margin-left: 10px;
}

#photoswipe_admin .form-group {
	width: 100%;
	display: block;
	position: relative;
	padding: 5px 0;
}

#photoswipe_admin .form-group label, #photoswipe_admin .form-group input[type='text'], #photoswipe_admin .form-group input[type='number'] {
	position: relative;
	display: block;
	width: 100%;
}

#photoswipe_admin .form-group label {
	display: block;
	font-weight: bold;
	margin: 0 0 3px;
	padding: 0;
	font-size: 13px;
}

#photoswipe_admin .form-group p {
	font-size: 13px;
}

#photoswipe_admin .form-group input[type='checkbox'] + label {
	display: inline-block;
	font-weight: normal;
	width: auto;
}

#photoswipe_admin .made-by {
	text-align: center;
	font-size: 14px;
	margin: 0;
	font-weight: normal;
	color: black;
	opacity: .7;
}

#photoswipe_admin .made-by a {
	color: inherit;
	text-decoration: none;
}

#photoswipe_admin #regen-thumb {
	display: none;
}

@media screen and (max-width: 600px) {
	#photoswipe_admin .block.left, #photoswipe_admin .block.right {
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
	}

	#photoswipe_admin .head {
		padding-right: 0;
	}

	#photoswipe_admin .head .logo {
		display: none;
	}
}
