#photoswipe_admin h3{
	line-height: 24px;
}

#photoswipe_admin input[type="text"]{
	width: 50%;
	font-size: 12px;
}

#photoswipe_admin .fl_box{
	float: left;
	width: 25%;
}

#photoswipe_admin .ps_border{
	clear:both; padding-bottom:15px; border-bottom:solid 1px #e6e6e6;
}

@media screen and (max-width: 800px) {
	
	#photoswipe_admin .fl_box{
		float: left;
		width: 50%;
	}

}

@media screen and (max-width: 600px) {
	
	#photoswipe_admin p,
	#photoswipe_admin label{
		font-size: 10px;
	}
}